---
layout: default
---

{% include lang.html %}

<article class="px-1">
  {% if page.layout == 'page' or page.collection == 'tabs' %} {% assign tab_key
  = page.title | downcase %} {% assign title =
  site.data.locales[lang].tabs[tab_key] | default: page.title %}
  <h1 class="dynamic-title" style="text-align: center">{{ title }}</h1>
  <div class="content about-content">{{ content }}</div>
  {% else %} {{ content }} {% endif %}
</article>

<style>
  .about-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-align: center;
    }

    .table-wrapper {
      display: flex;
      justify-content: center;
    }
  }
</style>
